.container{
    background: rgb(255, 255, 255);
    width: max-content;
    margin: auto;
}

.display{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 50px;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
}


.buttons {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
}

button {
    flex: 1 25%;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 0 5px 0 #ffffff;
}

button:active{
    box-shadow: none;
    transform: translateY(10px);
}